.sutta{
    /* border: 2px solid black; */
    flex: 50%;
    display: flex;
    height: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    /* transform: rotateY(180deg); 
    transform-origin: center;  */
    background-color: rgb(240, 232, 134);

}

#sutta_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: fit-content;
    width: max-content;
    /* border: 2px solid green; */
    /* background-color: rgb(76, 171, 254); */
    /* align-items: bottom; */
}
.vapour{
    height: max-content;
    /* border: 2px solid black; */
    position: relative;
    display: flex;
    z-index: 1;
    top: 92px;
    right: 200px;
    padding: 0 20px;
    height: 120px;
    /* width: 50px; */
    /* width: 120px; */
    
}
.vapour > span{
    position: relative;
    top: 70px;
    /* bottom: 50px; */
    display: block;
    /* margin:0 2px; */
    /* min-width: 4px; */
    height: 120px;
    background: rgb(144, 142, 142);
    border-radius: 50%;
    animation: animate 7s linear infinite;
    filter: blur(9px);
    animation-delay: calc(var(--i)* -0.5s);
}
@keyframes animate {
    0%
    {
        transform:translateY(0) scaleX(1);
        opacity: 0.5;
        background-color: rgb(119, 119, 119);
        margin: 0 0px;
        height: 20px;
        min-width: 2px;
        
    }
    15%{
        height: 50px;
    }
    25%
    {
        transform:translateY(-100px) scaleX(3.8);
        opacity: 1;
        background-color:rgb(70, 69, 69);
        margin: 0 0px;
        height: 75px;
        min-width: 2px;
    }

    50%
    {
        transform:translateY(-220px) scaleX(7.8);
        opacity: 1;
        background-color:rgb(54, 53, 53);
        margin: 0 2px;
        height: 100px;
        min-width: 4px;
    }
    75%{
        transform: translateY(-350px) scaleX(15);
        opacity:0.5 ;
        background-color: rgb(0, 0, 0);
        margin: 0 5px;
        min-width: 6px;
        
    }
    100%
    {
        transform:translateY(-450px) scaleX(20);
        opacity: 0;
        background-color:rgb(50, 50, 50);
        margin: 0 8px;
        min-width: 7px;
    }
 }       
.sutta_image{
    /* border: 2px solid black; */
    height: 400px;
    width: 400px;
    position: relative;
    /* left: 10%; */
    /* bottom: -150px;
    right: 50px; */
}

